body {
  padding: 32px;
  margin: 32px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.directive {
  border: 1px solid #ccc;
  background-color: #dbedff;
  padding: 16px;
  margin-bottom: 32px;
}

.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.underline {
  text-decoration: underline;
}
